<p id="notice"><%= notice %></p>

<h1>Listing Test Apps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_apps.each do |test_app| %>
      <tr>
        <td><%= test_app.name %></td>
        <td><%= test_app.email %></td>
        <td><%= link_to 'Show', test_app %></td>
        <td><%= link_to 'Edit', edit_test_app_path(test_app) %></td>
        <td><%= link_to 'Destroy', test_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test app', new_test_app_path %>
